.todo::placeholder{
    color: rgb(190, 186, 186);
}

.todo{
    width: 300px;
    height: 30px;
    font-size: 20px;
    text-align: start;
    padding: 5px;
    color: rgb(190, 186, 186);
    border-radius: 10px;
    /* border: none; */
    box-shadow: black 2px 2px 2px;
    margin-top: 20px;
    background-color: rgb(54, 56, 59);
}

.add{
    width: 100px;
    height: 40px;
    background-color: rgb(157, 13, 13);
    margin: 50px;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
    transition: 0.3s;
}

.add:hover{
    background-color: transparent;
    color: rgb(157, 13, 13);
    scale: 1.1
}